* {
	box-sizing: border-box;
	margin: 0;
	padding: 1px;
}
.header{
   text-align: center;
}
.file-name{
  font-size: 18px;
}
.filter-container{
    text-align: start; 
}
select, .search-form input{
    display: block;
    margin: 10px 0;
}

.reset-btn, .search-btn{
padding:5px;
border-radius: 5px;
}
.page-number {
    border: 3px solid skyblue;
    border-radius: 5px;
    margin: 20px 0 10px;
    display: flex;
    justify-content: space-evenly;
}
.page-number-button {
	margin: 5px 0;
    padding: 8px 12px;
    font-weight: 18px;
}
.page-number-button:hover, .record:hover, select:hover {
	opacity: 0.5;
	cursor: pointer;
}
.page-number-button:focus {
	background: skyblue;
	outline: none;
	box-shadow: none;
	color: white;
}
.record{
    width: 100%;
    display: block;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px ;
    margin: 20px 0;
    padding: 10px;
}
.patient-name, .detail{
color: black;
}
.details{
line-height: 1.6;
}
.detail-parent{
    color: skyblue;
}
@media only screen and (min-width:900px){
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .file-name{
        font-size: 30px;
      }
    .filter-container{
        display: flex;
    }
    select, .search-form input{
        display: inline;
        margin: 0 10px;
    }
}